html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  margin-block-start: 0;
  margin-block-end: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html{
  background-color: #CCDBD8;
  scroll-behavior: smooth;
}

.app{
  margin: 10px;
}


.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #CCDBD8;
  width: 100%;
  padding-top: 20px;
}

.logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.ondulacao{
  width: 100%;
  height: 60px;
}

.content {
  background-color: #fefefe;
  padding-left: 10px;
  padding-right: 10px;
}

.full_menu{
  padding-top: 10px;
}



.menu{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu_itens{
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}

.icones_menu {
  width: 45px;
  height: 45px;
  border: 1px #f9f9f9 solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.icones_menu:active {
  width: 50px;
  height: 50px;
  background-color: #f1f1f1;
  transition: 0.1s ease-in-out;
  opacity: 0.5;
}

@media only screen and (min-width: 700px) {
  .full_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .menu{
    width: 50%;
  }

  .menu_itens{
   width: 80px;
   height: 140px;
  }
}

a { 
  color: inherit;
  text-decoration: none;
} 

.nome_menu{
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 1em;
}
.head_produto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titulo_produtos{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 1em 0;
  padding: 5px 0;
  background-color:#CCDBD8;
  border-radius: 5px;
}
.nome_produto{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 8px;;
}

.conteudo_produto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #C8D9D2 solid 1px;
  margin-bottom: 20px;
}

.descricao_produto{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.2em;
  margin-right: 5px;
}

.valor_produto{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.footer{
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  background-color: #CCDBD8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;  
}

.arrow-hide {
  display: none;
}

.arrow{
  width: 25px;
  height: 25px;
  background-color: #dadada;
  border-radius: 50%;
  padding: 10px;
  opacity: 90%;
}
